@font-face {
    font-family: 'Paperlogy';
    src: url('/fonts/Paperlogy-8ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-paperlogy {
    font-family: 'Paperlogy', sans-serif;
}

@font-face {
    font-family: 'PartialSansKR';
    src: url("/fonts/PartialSansKR-Regular.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-partialSansKR {
    font-family: 'PartialSansKR', sans-serif;
}

@font-face {
    font-family: 'PyeongChangPeace';
    src: url("/fonts/PyeongChangPeace-Bold.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
.font-PyeougChang {
    font-family: 'PeyongChangPeace', sans-serif;
}
